<div v-if="busy">
    Loading...
</div>

<div v-else>
    <hr/>
    <h1>El trabajador actual es {{trabajador.nombre}}</h1>
    <hr/>
    <table>
        <caption>Lista de los partes de trabajo</caption>
        <thead>
            <tr>
                <th>Fecha de entrada</th>
                <th>Fecha de salida</th>
                <th>Id proyecto</th>
                <th>Id trabajador</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="parte in trabajador.partes">
                <td>{{parte.fechaEntrada.toLocaleString(dateTimeProperty)}}</td>
                <td>{{parte.fechaSalida.toLocaleString(dateTimeProperty)}}</td>
                <td>{{parte.proyectoId}}</td>
                <td>{{parte.trabajadorId}}</td>
            </tr>
            <tr>
                <td>
                    <button @click="createModal = true" class="button is-primary">Crear un parte</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button @click="generatePdf">Generar Pdf</button>
    </div>
</div>


<div class="modal is-active" v-show="createModal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <form @submit.prevent="createParte()">
                <div class="field">
                    <label for="fechaEntrada" class="label">Fecha de entrada</label>
                    <div class="control">
                        <DateTimeInput v-model="parte.fechaEntrada" class="input" id="fechaEntrada" required/>
                    </div>
                </div>
                <div class="field">
                    <label for="fechaSalida" class="label">Fecha de salida</label>
                    <div class="control">
                        <DateTimeInput v-model="parte.fechaSalida" class="input" id="fechaSalida" required/>  
                    </div>
                </div>
                <div class="field">
                    <label for="idProyecto" class="label">Identificador del proyecto</label>
                    <div class="control">
                        <input id="idProyecto" class="input" type="number" v-model.number="parte.proyectoId" required/>  
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-success is-fullwidth is-outlined">Create</button>
                    </div>
                    <div class="control">
                        <button @click="closeModals" class="button is-danger is-fullwidth is-outlined">Cancel</button>
                    </div>
                </div>
            </form>
            <div>
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>


